@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Our Web App</h1>
    <p class="lead">Please log in or sign up to continue.</p>
    <p>
        <a href="/Authefication/Index" class="btn btn-custom">Sign In or Sign Up</a>
    </p>
</div>